<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  
<servers>
    <server>
      <id>github-graph</id>
      <username>github_username</username>
      <password>personal_access_token</password>
    </server>
</servers>

</settings>
